:root*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 2%;
    box-shadow: 0 8px 10px rgba(73, 72, 72, 0.6);
    top: 20%;
    position: absolute;
    transform: translateY(-50%);
    width: 30vw;
    height: 40vh;
    left: 50%;
    transform: translateX(-50%);
}
.drop,.get{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    line-height: 50px;
    background-color: rgb(73, 72, 72);
    width: 110%;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0 0 8px black;
    color: white;
}

input{
    width: 55%;
}
form{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-bottom: 50px;
}
button{
    padding: 10px;
    width: 120px;
    background-color: rgb(170, 167, 167);
    border: none;
}
button a{
    text-decoration: none;
    color: black;
}
button:hover{
    border: 2px solid black;
}